version: "3.9"

services:
  app:
    build: ./infra/php
    volumes:
      - ./src:/data
    networks:
      - laravel-network
    depends_on:
      - db
  vite:
    build: ./infra/php
    volumes:
      - ./src:/data
    working_dir: /data
    ports:
      - "5173:5173"
    command: sh -c "pnpm install && pnpm run dev"
    networks:
      - laravel-network
  web:
    image: nginx:1.29-alpine
    ports:
      - 8080:80
    volumes:
      - ./src:/data
      - ./infra/nginx/default.conf:/etc/nginx/conf.d/default.conf
    working_dir: /data
    depends_on:
      - app
    networks:
      - laravel-network
  db:
    build: ./infra/mysql
    volumes:
      - db-store:/var/lib/mysql
    networks:
      - laravel-network

volumes:
  db-store:

networks:
  laravel-network:
    driver: bridge
